
<script>
export let size  = 21;
</script>
<svg viewBox="0 0 320 320" width={size} height={size}>
<path fill="#E2E2E2" d="M112,0H16C7.168,0,0,7.168,0,16v288c0,8.832,7.168,16,16,16h96c8.832,0,16-7.168,16-16V16C128,7.168,120.832,0,112,0z"/>
<path fill="#E2E2E2" d="M304,0h-96c-8.832,0-16,7.168-16,16v288c0,8.832,7.168,16,16,16h96c8.832,0,16-7.168,16-16V16C320,7.168,312.832,0,304,0z"/>

</svg>