<script>

	import Player from './Player.svelte';
	import FileControls from './FileControls.svelte'
	import Frame from './Frame.svelte'
</script>

<Player />
<Frame/>
<FileControls/>


<style>
	:global(body){
		background: black;
	}
</style>