<script>
  import { onMount } from "svelte";
  import {  frameRate, seeking, currentTime, muted, paused, video } from "./store";

  import { fade } from "svelte/transition";
  
  import Play from "./assets/Play.svelte";
  import Pause from "./assets/Pause.svelte";
  import Back from "./assets/Back.svelte";
  import SoundOn from "./assets/SoundOn.svelte";
  import SoundOff from "./assets/SoundOff.svelte";
  import Slider from "./Slider.svelte";


  let elapsed = "";
  let remains = "";
  let visible = true;
  let visibleTimerId;
  let filmStart = Date.now();

  $: {
    elapsed = $currentTime ? new Date(($currentTime - 1 / $frameRate) * 1000)
      .toISOString()
      .slice(11, -5) : '00:00:00';

    remains = $currentTime && $video ? new Date(($video.duration - $currentTime) * 1000)
      .toISOString()
      .slice(11, -5) : '00:00:00';
  }
  const onControlsClick = () => {
    visible = true;
    clearTimeout(visibleTimerId);
    visibleTimerId = setTimeout(hideContols, 5000);
  };
  const hideContols = () => {
    clearTimeout(visibleTimerId);
    if (!$paused && !$seeking) {
      visible = false;
    } else {
      visibleTimerId = setTimeout(hideContols, 5000);
    }
  };
  $: if (!$paused) {
    setTimeout(() => (visible = false), 0);
  }
  paused.subscribe((state) => {
    if (state) onControlsClick();
  });

  const play = () => {
    $paused = !$paused;
  };
  const mute = ()=> $muted = !$muted;
</script>

<div class="controls" on:click={onControlsClick}>
  {#if visible}
    <div class="topButtons">
      <div class="buttonWrapper" transition:fade|local />
      <div class="buttonWrapper" transition:fade|local>
        
        <button on:click={mute} class="playButton">
          {#if $muted}
            <SoundOff />
          {:else}
            <SoundOn />
          {/if}
        </button>
      </div>
    </div>

    <div class="controlsWrapper" transition:fade|local>
      <Slider bind:currentTime={$currentTime} />
      <div class="timig">
        <div>{elapsed}</div>
        <div>-{remains}</div>
      </div>
      <div class="play">
        <button on:click={play} class="playButton">
          {#if $paused}
            <Play size={21} />
          {/if}
          {#if !$paused}
            <Pause size={21} />
          {/if}
        </button>
      </div>
    </div>
  {/if}

</div>

<style>
  .topButtons {
    margin-top: 50px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }

  .buttonWrapper {
    background: #23232390;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
  }
  .playButton {
    height: 21px;
    margin: 0 16px;
  }
  button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  button:active {
    background: none;
    border: none;
    outline: none;
  }

  .controlsWrapper {
    background: #23232390;
    border-radius: 15px;
    padding: 16px;
    margin: 16px 16px 32px 16px;
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
  }
  .timig {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    color: #a5a5a5;
  }
  /* -------------------- */
  .controls {
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .play {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 21px;
  }
  @media (min-width: 600px) {
    .controls {
      left: 50%;
      transform: translateX(-50%);
      padding: 0 100%;
      right: initial;
    }
    .controlsWrapper {
      min-width: 400px;
    }
  }
</style>
