<script>
  import {
    videoFile,
    markup,
    videoFileName,
    xmlFileName,
    size,
    showFrame,
  } from "./store";
  import loadMarkup from "./helpers/loadMarkup";
</script>

<div class="fileControls">
  <div>
    <label>
      <div class="button">Выберите Видео</div>
      <div class="filename">{$videoFileName || 'Не выбран'}</div>
      <input type="file" accept="video/*" on:change={videoFile.selectFile} />
    </label>
  </div>
  <label>
    <div class="button">Выберите VXML</div>
    <div class="filename">{$xmlFileName || 'Не выбран'}</div>
    <input type="file" on:change={markup.selectFile} />
  </label>
  <div class="button" on:click={showFrame.toggle}>
    {$showFrame ? 'Скрыть' : 'Показать'} кадр
  </div>
  <div class="screenSize">Размер экрана</div>
  <div class="sizes">
    {#each Object.keys(size.variants) as variant}
      <button
        on:click={() => size.setSize(size.variants[variant])}
        class="variantButton"
        class:active={$size.name === size.variants[variant].name}>
        {size.variants[variant].name}
      </button>
    {/each}

  </div>
</div>

<style>
  .screenSize {
    color: white;
    margin-top: 16px;
    margin-bottom: 4px;
  }
  .sizes {
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    display: inline-block;
  }
  .variantButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
    color: white;
    font-size: 10px;
  }
  .variantButton:hover {
    color: #b9d8f1;
  }
  .active {
    color: #86bbe7;
  }
  .fileControls {
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 10;
    color: white;
  }
  input[type="file"] {
    display: none;
  }
  .button {
    cursor: pointer;
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px 16px;
  }
  .button:hover {
    color: #b9d8f1;
  }
  .filename {
    font-size: 8px;
    color: white;
    margin: 4px 0 8px 0;
  }
</style>
