<script>
  import { size, showFrame } from "./store";
  let innerHeight;
  $: containerWidth = ($size.width * innerHeight) / $size.height;
</script>

{#if $showFrame}
  <div class="frame" style={`width:${containerWidth}px`} />
{/if}
<svelte:window bind:innerHeight />

<style>
  .frame {
    transform: translateX(-50%);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    border: 1px solid red;
  }
</style>
