<script>
  import {
    videoFile,
    markup,
    frameRate,
    video,
    currentTime,
    seeking,
    paused,
    muted,
    frame,
    x,
    y,
    size,
    showFrame
  } from "./store";
  import { onMount } from "svelte";
  import Controls from "./Controls.svelte";
  let canvas;
  let ctx;
  let innerHeight;
  let scale;
  let position;
  let requestAnimationFrameId;
  let videoWidth=1080;
  $: containerWidth = ($size.width * innerHeight) / $size.height;
  frame.subscribe((currentFrame) => {
    if (!$video || !$markup) return;
    if ($markup[$frame]) {
      if ($markup[$frame].position) {
        position = [...$markup[$frame].position];
        console.log(position[0])
        x.set((position[0] * videoWidth) / 2);
        y.set((position[1] * videoWidth) / 2);
      }
      if (
        $markup[$frame].position &&
        $markup[$frame].position[2] === "animated" &&
        $markup[$frame + 1] &&
        $markup[$frame + 1].position &&
        $markup[$frame + 1].position[2] === "animated"
      ) {
        const nextPosition = $markup[$frame + 1].position;
        x.set((nextPosition[0] * videoWidth) / 2, {
          duration: 1000 / $frameRate,
        });
        y.set((nextPosition[1] * videoWidth) / 2, {
          duration: 1000 / $frameRate,
        });
      }
      if ($markup[$frame].scale) scale = $markup[$frame].scale/100;
    }
  });

  const draw = () => {
    frame.set(Math.floor($currentTime * $frameRate) - 1);
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    if (!$seeking) {
      ctx.setTransform(
        scale,
        0,
        0,
        scale,
        (canvas.width * (1 - scale)) / 2 + $x,
        (canvas.height * (1 - scale)) / 2 + $y
      );
    } else {
      ctx.setTransform(1, 0, 0, 1, 0, 0);
    }
    ctx.drawImage($video, 0, 0, canvas.width, canvas.height);

    requestAnimationFrameId = requestAnimationFrame(draw);
  };
  onMount(() => {
   
    
   
    ctx = canvas.getContext("2d");
    draw();
  });
  $: if($videoFile){
    setTimeout(()=>{
      videoWidth = $video.videoWidth
    canvas.width = $video.videoWidth;
    canvas.height = $video.videoHeight;
    },50)
    
  }
</script>

<Controls />
<div class="container" style={`width:${containerWidth}px`} class:showFrame={$showFrame}>

  <canvas bind:this={canvas} style={`height:${innerHeight}px`} />
</div>

<!-- svelte-ignore a11y-media-has-caption -->
<video
  bind:currentTime={$currentTime}
  crossorigin
  bind:paused={$paused}
  bind:seeking={$seeking}
  playsinline
  autoplay
  muted={$muted}
  controls
  bind:this={$video}
  src={$videoFile}
  on:play={()=>{
  videoWidth = $video.videoWidth
    canvas.width = $video.videoWidth;
    canvas.height = $video.videoHeight;
  }}
  on:loadedmetadata={$video.play} />
<svelte:window bind:innerHeight />

<style>
  canvas {
    background: black;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  video {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  .container {
    /* background: black; */
    transform: translateX(-50%);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    /* right: 0; */
    overflow: hidden;
  }
  .showFrame{
      overflow: visible;
  }
</style>
